@font-face {
  src: url(../assets/kongtext.ttf);
  font-family: arcade;
}
body{
  background-color: #33ccff;
  height: 100%;
  width: 100%;
  font-family: arcade;
}

.category{
  width: 30%;
  display: inline-block;
  text-align: left;
  font-size: 1.2vw;
  overflow: scroll;
  height: 50vh;
  background-color: white;
}

.title{
  margin: 0;
  text-align: center;
  text-decoration: underline;
  font-size: 2vw;
}

.divs{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 4vw;
  text-align: center;
}
img.menuitem{
  width: 1.5vw;
  height: 4.5vh;
  cursor: pointer;
}
