@font-face {
  src: url(../assets/kongtext.ttf);
  font-family: arcade;
}
body{
  background-color: #33ccff;
  height: 100%;
  width: 100%;
  font-family: arcade;
  margin: 0;
}
h1{
  font-size: 4vw;
  text-align: center;
}

#version2{
  font-size: 2vw;
  text-align: center;
  animation: blinker 0.8s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttondiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
