html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 4.5em;
    color: whitesmoke;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    letter-spacing: 2px;
    pointer-events: none;
    font-weight: 900;
    border: 0px;
    margin: 0px;
    text-align: center;
}

.name {
    height: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: transparent;
}

.parallax {
    /* The image used */
    background-image: url(../Images/indexBg.jpg);
    /* Set a specific height */

    height: 215px;
    padding-top: 400px;
    padding-bottom: 400px;
    padding-left: 250px;
    padding-right: 250px;

    min-width: 1150px;

    margin: -10px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navB {
    margin-top: -62px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    height: 22px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 700px;
    padding-right: 700px;
    min-width: 250px;


    position: absolute;
    z-index: 1000;

    overflow: hidden;
    background-color: transparent;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
}

.solid {
    margin-top: -62px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    height: 22px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 700px;
    padding-right: 700px;
    background-image: url(../Images/indexBg.jpg);
    min-width: 250px;


    overflow: hidden;
    background-color: transparent;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 1px 10px #999;
}

.textH {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 500;
    font-size: 2.0em;
    color: transparent;
    padding: 0;
}


.navSc {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 500;
    font-size: 2.0em;
    color: white;
    padding: 0;
}

.bodyIndex {
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0px;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: whitesmoke;
    min-width: 1450px;

}

.getStarted {
    margin: -10px;
    height: 515px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #fa6255;
    min-width: 1150px;

}

.bodyList {
    list-style-type: none;
    width: 100%;
}

.iconList {
    list-style-type: none;
    width: 100%;
}

.mottoList {
    list-style-type: none;
}

.listItem1 {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

}

.listItem2 {
    float: left;
    padding: 10px;
}

.iconItem {
    float: left;
    padding: 10px;
}

.iconImage {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 200px;
    background-image: url(../Images/listIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mottoItemCov1 {
    margin: 10px;
    background-color: #00aa01;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
}

.mottoItemCov2 {
    margin: 10px;
    background-color: orange;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
}

.mottoItemCov3 {
    margin: 10px;
    background-color: dodgerblue;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
}

.mottoItemCov1:hover {
    margin: 10px;
    background-color: #00aa01;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 10px #999;
}

.mottoItemCov2:hover {
    margin: 10px;
    background-color: orange;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 10px #999;
}

.mottoItemCov3:hover {
    margin: 10px;
    background-color: dodgerblue;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 10px #999;
}


p {
    font-size: 1.5em;
    color: black;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    border: 0;
}

.iText {
    color:whitesmoke;
    text-decoration: none;
}

.iText {
    display: inline-flex;
}

.about {
    margin-top: -55px;
    margin-left: 80px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 10px #999;
}

.aboutHead {
    padding-left: 20px;
    padding-right: 20px;
}

.aboutText {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 600;
    font-size: 1.5em;
    color: black;

}

.intro {
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

.introText {
    font-size: 1.0em;
    color: black;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    border: 0;
    line-height: 1.5em;
}

.aboutT {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aboutEle {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textEle {
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    width: 115px;
    font-size: 1.2em;
    align-content: center;
    text-align: center;
}

.imgBrd {
    height: 100px;
    width: 130px;
    background-image: url("../Images/board.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgList {
    height: 130px;
    width: 100px;
    background-image: url("../Images/lists.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgMan {
    height: 100px;
    width: 100px;
    background-image: url("../Images/manage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headText {
    font-size: 3.5em;
}

.startForm {
    margin-top: 70px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0 1px 10px black;
    height: 300px;
}

.startContent {
    padding-top: 45px;
    padding-left: 30px;
}

.designed {
    height: 40px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 1px;
    background-color: darkslategray;
    text-align: center;
    min-width: 1648px;


}

.designText {
    font-size: 1em;
    color: white;
    font-weight: 200;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
}

.button {
    background-color: dodgerblue;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    font-size: 1.4em;
    font-weight: 500;
    box-shadow: 0 1px 10px darkslategray;
}

.button:hover {
    background-color: #006eda;
    box-shadow: 0 1px 10px darkslategray;
    cursor: pointer;
}

.btn {
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 50px;
    height: 100px;
}

.expTab {
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 30px;
    border-collapse: collapse;

}

.headEle {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 30px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 700;
}

.expEle {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}

.headEle1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 30px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 700;
    border-right: 5px groove #c9c9c9;
}

.expEle1 {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    border-right: 5px groove #c9c9c9;
}

.txtBox {
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.1em;
    font-weight: 300;
    box-sizing: border-box;
    border: 2px solid transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    cursor: auto;
    width: 300px;
    border-radius: 20px;
}

.txtBox:focus {
    border: 2px solid dodgerblue;
}

.ele {
    background-color: #eeeeee;
}

.selectBox {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 30px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}
.selectBox::-ms-expand {
    display: none;
}
.selectBox:hover {
    border-color: #888;
}
.selectBox:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.selectBox option {
    font-weight:normal;
}

#resBtn {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0 1px 10px black;
    position: absolute;
    right: 0;
    margin-top: -39px;
    margin-right: 10px;
}
