html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 4.5em;
    color: whitesmoke;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    letter-spacing: 2px;
    pointer-events: none;
    font-weight: 900;
    border: 0px;
    margin: 0px;
    text-align: center;
}

.name {
    height: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: transparent;
}

.parallax {
    /* The image used */
    background-image: url(../Images/indexBg.jpg);
    /* Set a specific height */

    height: 215px;
    padding-top: 400px;
    padding-bottom: 400px;
    padding-left: 250px;
    padding-right: 250px;

    margin: -10px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navB {
    margin-top: -62px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    height: 22px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 700px;
    padding-right: 700px;

    overflow: hidden;
    background-color: transparent;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
}

.solid {
    margin-top: -62px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    height: 22px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 700px;
    padding-right: 700px;
    background-image: url(../Images/indexBg.jpg);

    overflow: hidden;
    background-color: transparent;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 1px 10px #999;
}

.textH {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 500;
    font-size: 2.0em;
    color: transparent;
    padding: 0;
}


.navSc {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 500;
    font-size: 2.0em;
    color: white;
    padding: 0;
}

.bodyIndex {
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0px;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: whitesmoke;
}

.getStarted {
    margin: -10px;
    height: 515px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #fa6255;
}

.bodyList {
    list-style-type: none;
    width: 100%;
}

.iconList {
    list-style-type: none;
    width: 100%;
}

.mottoList {
    list-style-type: none;
}

.listItem1 {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

}

.listItem2 {
    float: left;
    padding: 10px;
}

.iconItem {
    float: left;
    padding: 10px;
}

.iconImage {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 200px;
    background-image: url(../Images/listIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mottoItemCov1 {
    margin: 10px;
    background-color: #00aa01;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
}

.mottoItemCov2 {
    margin: 10px;
    background-color: orange;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
}

.mottoItemCov3 {
    margin: 10px;
    background-color: dodgerblue;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
}

.mottoItemCov1:hover {
    margin: 10px;
    background-color: #00aa01;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 10px #999;
}

.mottoItemCov2:hover {
    margin: 10px;
    background-color: orange;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 10px #999;
}

.mottoItemCov3:hover {
    margin: 10px;
    background-color: dodgerblue;
    color: white;
    width: 220px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 10px #999;
}


p {
    font-size: 1.5em;
    color: black;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    border: 0;
}

.iText {
    color:whitesmoke;
    text-decoration: none;
    border-right: .15em solid orangered;
    animation:
            blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orangered; }
}

.iText {
    display: inline-flex;
}

.about {
    margin-top: -55px;
    margin-left: 80px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 10px #999;
}

.aboutText {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    font-weight: 600;
    font-size: 1.5em;
    color: black;

}

.introText {
    font-size: 1.0em;
    color: black;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    border: 0;
}

.headText {
    font-size: 3.5em;
}

.startForm {
    margin-top: 70px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 1px 10px black;
    height: 300px;
}

.designed {
    height: 40px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 1px;
    background-color: darkslategray;
    text-align: center;
}

.designText {
    font-size: 1em;
    color: white;
    font-weight: 200;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
}

.button:enabled {
    background-color: dodgerblue;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    font-size: 1.4em;
    font-weight: 500;
}

.button:hover {
    background-color: #006eda;
    box-shadow: 0 1px 10px darkslategray;
    cursor: pointer;
}

.button:disabled {
    background-color: gray;
    color: darkgray;
    border: none;
    border-radius: 40px;
    font-family: 'Source Code Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    font-size: 1.4em;
    font-weight: 500;
}

.btn {
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 50px;
    height: 100px;
}

