@font-face {
  src: url(../assets/kongtext.ttf);
  font-family: arcade;
}
body{
  background-color: #33ccff;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: arcade;
}
div{
  display: flex;
  justify-content: center;
}
.buttondiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
table{
  width: 80%;
  text-align: center;
  font-size: 30px;
  margin: auto;
}
td{
  border: 1px solid black;
}
h1{
  font-size: 4vw;
  text-align: center;
}
