body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#editor {
    width: 100%;
    height: 400px;
}


.bg-login-image {
    background: url("https://lh3.googleusercontent.com/eAy0MKw8o274YHXUyZXbMvBjHTZ9JqowvgzIq_E3VfdywogrBCKm0nWHmvQBULt-Jh8tjOrwy-jIU4YcXYJvtHmxJ3C7BmDwEZqkWgZloOfiZuJvI_m6hu36AnwTXqnCgHhP4sV287NR0u_y8eHe07KK3EasCis2hExUJ8GqUX3txXWp-ZhfYfRj8uQu41M6UWf5sV4EWjUJ0Q2YPWK6uhvUKTXGr-j731Qa2HvBVBgxuRPCouf2Om0w7AcoYbz-iXohczHoffAJNr-JoupFMFZ1XyeSgDjiUyTWC_tzb6Omm-af3BVBzjNDsDUEdGWQ9Is-PoDtBuSfJ4c5_UqTIzsn3O67Q_9vySKgK0aXzOOrzilK4IZk7_86V1PxlKANsJ4Ss3-xVfgmyhMbVwUUax3mOos2Z9yXf3M_lKMU2HY9_yLTbJFYRJ23Pf8liRj7WADQ5JM_FU2se5WoCfRb1BCLAhKLZ0dmRBXj3eZxdQAr5td_CMDLsXjth0IMN5znklkKkTynL_0OFc5FhpUDIKfHPh6ioLRqs6FJBIadIldTE5A2f7eyCI6eb9BlS0yhf4UvM0MqOOb5IBalj4ZZUeFNS9PoD34Rl7kLfoVM3fymT9LuW7k3y29PmLzoZecKxUkiir0daahi0dLeYCV8z69ab9ovrl4WICwYWDtipo9Gz1Wf34dTlgs=w460-h613-no");
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url("https://lh3.googleusercontent.com/u0VcJq5S95NDFZJyzA4slpUX7g3yBE7ZlSOxMDnsjA74BZmlpGva4RzFPi5XJ2HnK2VHNSe-9UYDtEob0nMnmcF3XLSyX-vQAswjeQFk8yG_vWIxp6ZNariM3rKL3nx8KVHdCLvaKiHK26-eL3C1bOvPmpqrTbYKWF0bf56g7n8hZmEvi65FOqof4HSA_BgvyedgmQztJgG6TV0nz658YIRWg8Pn-yJ2oW5k_XAR8jDGAl1AtZmWTjWD8yDtl6gaCkd9JqCKK8Ki6Gom5uickwAZtKC92XTbXxJwUKIJdKIPdRhk7f5CmlYj-bRkRtpjYNMZTl-2oWHFP41qON_9gMKjg7c2DF7lRE5WPyUKkXVPlhTcgvlD3qKCBCTuMBO-7VgEW_ESr3OjhI9FuCIvSY0YfF0roO9JuKMWeLZjEQz3Lu3PsqYjNshepx_rRafFr_JbziNtLqaWmIzcBTIz1bjbf8IsYm4VdKRg1xKBAfp5nM_AHdCOvVSko3vL0_KU2IZmS59WDMAbRI-XQhBBEeT_BGS5Xy8fgdmrJYoW-tJ6vifYXj8yvHt2w0r5rWpPsHKJDDSsh4QZwR50t8x6Z2lzv3nJGBsUI9KeAE_g_uqKVH22YPuZc5sHCmFkFLRKshjm-1jjsBLEB3ldBVg1jpoK1jjpK1EcN6f5eU6dd9t-0pfjsMmaZlk=w460-h613-no");
    background-position: center;
    background-size: cover;
}

table.dataTable tbody tr.selected {
    color: white;
    background-color: #36b9cc;
}

.page-item.active .page-link {
    background-color: #36b9cc;
    border-color: #36b9cc;
}