/*Style your own assignment! This is fun! */
body {
 background-color: #f4f4f4;
 font-family: Courier New;
}
h1{
  font-family: Courier New;
  color: #53688a;
  display: flex;
  justify-content: center
}
form{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
input[type=text]{
  display: flex;
  font-family: Courier New;
  padding: 10px;
}
input[type=text]:focus{
  background-color: lightblue;
  border: 2px dashed darkblue;
}
button{
  font-family: Courier New;
}
label{
  padding: 5px;
}
select{
  font-family: Courier New;
  padding: 10px;
}
select:focus{
  background-color: lightblue;
  border: 2px dashed darkblue;
}
input[id='amt']{
  width: 100px
}
grid{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
table{
  border-collapse: collapse;
}
table,th,td{
  border: 1px solid grey;
  font-family: Courier New;
}
