#background{
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D3557;
    z-index: 100;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

#login-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(35%, -50%);
    width: 400px;
    height: auto;
    padding: 12px;
    background: #F1FAEE;
    border: 3px solid #457B9D;
    border-radius: 10px;
    text-align:center;
}

#school-role {
    width: 200px;
}

#login-content h1 {
    font-family: 'Kumbh Sans', sans-serif;
    margin: auto;
    line-height:51px;
    horizontal-align:middle;
}

#login-button {
    bottom:12px;
    left:auto;
    right:12px;
    top:auto;
}

#logo {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    margin:10px;
}