/*Style your own assignment! This is fun! */

.center {
display: flex;
justify-content: center;
align-items: center;
}

.selStyle {
    margin-left: 10px;
}

.item {
    display: flex;
}

.btn {
    margin-left: 115px;;
    margin-right: 115px;
}