html, body {
  height: 100%;
}

body {
  background: white;
}

#big-title{
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  color: white;
}

#left-edit{
  float: left;
  width: 75%;
}
#right-edit{
  float: left;
  width: 15%;
}

.content {
  max-width: 1000px;
  margin: auto;
  background: cornsilk;
  padding: 10px;
  text-align: center;
}

.table-label {
  font-size: 19px;
  font-family: monospace;
  color: white;
  background-color: black;
  margin-top: 5px;
}