/*Style your own assignment! This is fun! */
#CarData {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#CarData td, #CarData th {
  border: 1px solid #ddd;
  padding: 8px;
}

#CarData tr:nth-child(even){background-color: #f2f2f2;}

#CarData tr:hover {background-color: #ddd;}

#CarData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D121C5;
  color: white;
}

h1{
  color: purple;
}

h3{
  color: #7921D1;
}