/* Input for the event */
input[type=text].eventCreationField {
    border-radius: 10px;
    color: #ffffff;
    background: rgba(9, 28, 23, 0.5);;
    opacity: 70%;
    width: 70%;
    height: 35px;
    margin: 10px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    outline: none;
    text-align: center;
    position: relative;
    left: 15%;
}

input[type=text].eventCreationField::placeholder {
    color: #c9c9c9;
}

button.submit {
    border-radius: 10px;
    color: #ffffff;
    background-color: #091c17;
    width: 70%;
    height: 35px;
    margin: 10px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    text-align: center;
    position: relative;
    left: 15%;
}

.bg-light {
    background-color: #091c17 !important;
}

a.nav-link {
    color: #61feba !important;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
}

a.nav-link:hover {
    color:green !important;
}

.navbarLogo {
    height: 60px;
    width: auto;
}

.bannerLogo {
    margin: 40px;
    width: 20%;
    height: auto;
    margin-left: 40%;
    position: relative;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange,
 .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, 
 .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, 
 .flatpickr-day.endRange.nextMonthDay{
    background: #091c17 !important;
}

body {
    background-color: #61feba ; 
}

table.eventTable {
    border: 3px solid #091c17;
    width: 95%;
    position: relative;
    left: 2.5%;
}

td, th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td:hover {
    background-color: #61feba;
}

.eventName {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    margin-left: 2.5%;
}

.banner-container {
    width:100%;
}
