/**
* Author: Zonglin Peng
*/

html {
    background-image: white;
}

h1{
    background-image: url("../images/h1.jpg");
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif, monospace;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif, monospace;
}

th {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

td {
    color: black;
    font-size: 15px;
}

table, th, td {
    border: 1px solid grey;
    padding: 10px;
    margin: 1%
}

select, input, button, p {
    color: black;
    font-size: 15px;
}

button:hover {
    color: red;
}

.split {
    height: 100%;
    position: fixed;
    padding-top: 20px;
}
.left {
    width: 20%;
    left: 2;
    display: flex;
    size: auto;
    justify-content: center;
    background-image: url("../images/left-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.right {
    width: 80%;
    right: 0;
    size: auto;
    background-image: url("../images/right-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#id{
    size: auto;
    width: 20%;
}

#database{
    width: 70%;
    border: 1px solid grey;
}