/* Input for the event */
input[type=text].eventCreationField {
    border-radius: 10px;
    color: #001a33;
    background-color: #ffffff;
    width: 70%;
    height: 35px;
    margin: 10px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    outline: none;
    text-align: center;
    position: relative;
    left: 15%;
}

button.submit {
    border-radius: 10px;
    color: #B9EFE1;
    background-color: #001a33;
    width: 70%;
    height: 35px;
    margin: 10px auto;
    margin-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    text-align: center;
    position: relative;
    left: 15%;
}

.bg-light {
    background-color: #001a33 !important;
}

a.nav-link {
    color: #B9EFE1 !important;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
}

.customStyle {
    color: red !important;
}

.navbarLogo {
    height: 60px;
    width: auto;
}

.bannerLogo {
    margin: 40px;
    width: 40%;
    height: auto;
    margin-left: 30%;
    position: relative;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange,
 .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, 
 .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, 
 .flatpickr-day.endRange.nextMonthDay{
    background: #001a33 !important;
}

body {
    background-color: #B9EFE1; 
}