/*Style your own assignment! This is fun! */
header {
    padding: 20px;
    font: 1.2em Arial;
}
h1{
    padding: 30px;
}
body {
    padding: 20px;
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(30,30,158,0.16600143475358897) 29%, rgba(0,212,255,1) 100%);
}

* {box-sizing: border-box;}

p {
    margin: 0 0 1em 0;
}

.formContainer{
    border: 2px solid rgb(4, 28, 71);
    width:820px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    background-color: rgb(4, 28, 71);
    border-radius: .5em;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nameForm{
    order:2;
    width:400px;
    color:rgb(240, 245, 255);
    align-self: center;
    margin: 30px;
}

.atable{
    order:1;
}

.rtable{
    order:3;
}

input, select, button {
    font: .9em arial;
    padding: 5px;
    width:400px;
    margin: 2px;
    border: none;
    background-color: rgb(240, 245, 255);
    color:rgb(4, 28, 71);
    box-sizing: border-box;
}

label {
    font : bold 1em "typewriter", sans-serif;
}