/* Input for the event */
input[type=text].eventCreationField {
    border: 4px solid #B9EFE1;
    border-radius: 10px;
    color: #001a33;
    width: 70%;
    height: 30px;
    margin: 10px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    text-align: center;
    position: relative;
    left: 15%;
  }