 body {background: rgb(192,192,192);}
    
    
    
    .input{
      
      margin-left:10%;
      float: left;
      
    }

label{
  padding: 20px 10px; border: 1px solid;
}
    
.container2, .container3
{
  padding: 20px 10px; border: 1px solid; background: white
}
    table, th{  border: 1px solid black;
    text-align: center;
      margin: 25% auto;
    }
    
    #delete{
      float: right;
      margin-right: 10%;
      
    }
    #deleteBtn, #submit{
      width:100%
    }



.row div{padding: 20px 10px;}