 body {background: rgb(192,192,192);}
    
    
    
    .input{
      
      margin-right:1%;
      float: left;
      
    }
    
    table, th{  border: 1px solid black;
    text-align: center;
      margin: 25% auto;
    }
    
    #delete{
      float: right;
      margin-left: 5%;
      
    }
    #deleteBtn, #submit{
      width:100%
    }