/*Style your own assignment! This is fun! */


table, th, td {
  border: 1px solid black;
  padding: 5px;
  align:center;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, p {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
}


div{
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
}

table{
  font-family: 'Open Sans', sans-serif;
}

button.translate{
  background-color:#4287f5;
  border-radius:4px;
  color:white;
  transition-duration: 0.4s;
  border: 2px solid #4287f5;
}

button.translate:hover {
  color:black;
  background-color:white;
  border: 2px solid #4287f5;
}

button.deleteButton{
  background-color: #eb4034;
  border-radius:4px;
  color:white;
  transition-duration: 0.4s;
  border: 2px solid #eb4034;
  padding: 3px 3px;
  font-size: 12px

}

button.deleteButton:hover {
  color:black;
  background-color:white;
  border: 2px solid #eb4034;
  padding: 3px 3px;

}

button.editButton{
  background-color:green;
  border-radius:4px;
  color:white;
  transition-duration: 0.4s;
  border: 2px solid green;
  padding: 3px 3px;
}

button.editButton:hover {
  color:black;
  background-color:white;
  border: 2px solid green;
    padding: 3px 3px;

}