/*Style your own assignment! This is fun! */
nav{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: black;
  position: sticky;
  width: 100%;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul li button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#NEW{
  background: blue;
}