/*Style your own assignment! This is fun! */
.red{
  background-color:rgba(255, 0, 0,0.6);
}

h1{
  text-align:center;
  font-size:50px;
}

h2{
  text-align:center;
  font-size:30px;
}

header{

}

#table1{
text-align:center;
  margin: auto;
  font-size:32px;
  width:800px;
  height:500px;
}

.blue{
  background-color:rgba(0, 0, 255,0.6);
}

input{
  font-size:32px;
  width:60px;
  background-color:rgba(0, 0, 255,0);
   border-style:none none double none; 
}

#submit{
  margin:7px;
  width:200px;
   font-size:30px;
   background-color:rgba(0,0,0,0);
  color:black;
  border-radius:3em;
  border:3px solid;
}

#submit:hover {
  background-color: #555555; /* Grey */
  color: white;
  cursor: pointer;
}

#matchN{
  width:50px;
}

nav{
  text-align:center;
  font-size:50px;
  width:800px;
  margin:auto;
}

a{
  justify-item:center;
  margin:auto;
  border:3px solid;
}

a:hover {
  background-color: #555555; /* Grey */
  color: white;
  cursor: pointer;
}

#matchTable{
  text-align:center;
  margin: auto;
  font-size:32px;
}

.MH{
 width:500px;
}