/*Style your own assignment! This is fun! */

body {
  background: #5A5959;
  font-family: 'Calibri', sans-serif;

}

.title {
  overflow: hidden;
  background:#1C1C1D;
  color: white;
  width: 98vw;
  text-align: center;
  font-size: 30px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}

.board {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 70vmin;
  background: #1C1C1D;
}

.boardsection{
  width: 15%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.board[data-board] .tasklist  {
  width:100%;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .25em;
}

.board[data-board] .header {
  color: white;
  text-align: center;
  background-color: grey;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
  align-items:center;
}

#next {
  left: 200px;
}