/*Style your own assignment! This is fun! */

.preloader {
    background-color: #fcfcfc;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.preloader span {
    text-transform: none;
    font-size: 34px
}

.preloader .preloader-img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -85px;
    margin-top: -85px;
}


.form {
    width: 100%;
    max-width: 432px;
    margin: auto;
    -webkit-box-shadow: 0 16px 22px -10px rgba(0, 0, 0, 0.1), 0 34px 55px 4px rgba(0, 0, 0, 0.05), 0 13px 66px 12px rgba(0, 0, 0, 0.07);
    box-shadow: 0 16px 22px -10px rgba(0, 0, 0, 0.1), 0 34px 55px 4px rgba(0, 0, 0, 0.05), 0 13px 66px 12px rgba(0, 0, 0, 0.07);

}
.form__container {
    padding: 52px 36px 38px;
    text-align: center;
    background:#eaeced;
    background:rgba(0,0,0, 0.8);
    border-radius: 12px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}

.mfp-loading.mfp-figure {
    display:none
}

.mfp-hide {
    display:none!important
}

.mfp-preloader {
    color:#ccc;
    position:absolute;
    top:50%;
    width:auto;
    text-align:center;
    margin-top:-.8em;
    left:8px;
    right:8px;
    z-index:1044
}

.mfp-preloader a {
    color:#ccc
}

.mfp-preloader a:hover {
    color:#fff
}

.mfp-s-ready .mfp-preloader {
    display:none
}

/**
* Template Name: GlobalLanding
* Template URL: https://templatemag.com/globallanding-bootstrap-landing-template/
* Author: TemplateMag.com
* License: https://templatemag.com/license/
*/

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
* {
    margin: 0;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    background: #fff;
    margin: 0;
    color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #666;
    margin-top: 10px;
}

html, body {
    height: 100%;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}

.centered {
    text-align: center
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.mt {
    margin-top: 50px;
}

.mb {
    margin-bottom: 50px;
}

.mtb {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mtb2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ptb {
    padding-top: 80px;
    padding-bottom: 80px;
}

.mr {
    margin-right: 15px;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
    text-decoration: none;
    color: #696E74;
}

.nopadding {
    padding: 0px !important;
    margin: 0px;
}

/* FORM CONFIGURATION */
/*
input {
    font-size: 16px;
    min-height: 40px;
    border-radius: 2px;
    line-height: 20px;
    padding: 8px 30px 9px;
    border: 1px solid #b9b9af;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.subscribe-input {
    float: left;
    width: 65%;
    text-align: left;
    margin-right: 2px;
}*/


.fieldset {
    margin-bottom: 48px;
    display: inline-block;
    border:none;
}

.input {
    border: none;
    width: 40%;
    height: 64px;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
}

.input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    opacity: 0.3;
}

.input::-webkit-input-placeholder {
    color: white;
    opacity: 0.3;
}

.input::-ms-input-placeholder {
    color: white;
    opacity: 0.3;
}

.input::placeholder {
    color: white;
    opacity: 0.3;
}




/*
#blk {
    background: #181818;
    padding-bottom: 80px;
    padding-top: 80px;
}

#blk h5 {
    color: #f7ca18;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#blk hr {
    border: 1px solid #f7ca18;
    width: 100px;
}


*/



/* Buttons Configuration */
.button {
    background: #f7ca18;
    color: white;
    border-radius: 50px;
    margin-left: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 11px 28px 10px 28px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}
.button:hover{
    color:black;
}

/* Bootstrap Modification */

hr {
    border: 1px solid #5a5a5a;
    width: 70px;
}

/* HEADER CONFIGURATION - CREATED BY CODROPS */

.large-header {

    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.intro .large-header {
    background-image: url('../img/intro-bg.jpg');
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 40%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.main-tagline {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 55%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    font-size: 18px;
}

.intro .main-title {
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 4px;
}

.main-title .thin {
    font-weight: 100;
}

@media only screen and (max-width: 768px) {
    .intro .main-title {
        font-size: 30px;
    }
}



@-webkit-keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


