/*Style your own assignment! This is fun! */

body {
  background: #5A5959;
  
}

.board {
  position: relative;
  background: #1C1C1D;
  width: 20vw;
  height: 50;
}

#previous {
  
}

#next {
  left: 200px;
}