<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lost Words</title>

    <!-- Custom fonts for this template-->
    <link href="./vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!--Handwriting Recog-->
    <link rel="stylesheet" href="./vendor/myscript/myscript.min.css"/>
    <script src="./vendor/myscript/myscript.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>


    <!-- Custom styles for this template-->
    <link href="./css/sb-admin-2.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">


</head>

<body id="page-top" ng-app="dashboardApp" ng-controller="dashboardCtrl">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <div class=rotate-n-15">
                    <i class="fas fa-pencil-alt fa-lg text-info"></i>
                </div>
                <div class="mx-2 text-info" style="font-size: 24px">Lost Words</div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="user-name-span"
                                  class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/random/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <!--<a class="dropdown-item" href="#">-->
                            <!--<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                            <!--Profile-->
                            <!--</a>-->
                            <!--<div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total
                                            Entries
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalEntries}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-pencil-alt fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total
                                            Words
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalWords}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-file fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Unique
                                            Words
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    {{totalUniqueWords}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Longest Word
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{longestWord}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-ruler fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FORM INPUT -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseAddLog" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseAddLog">
                        <h6 class="m-0 font-weight-bold text-info">Add Entry</h6>
                    </a>
                    <div class="collapse show" id="collapseAddLog">
                        <div class="card-body">
                            <form id="add-log">
                                <div class="form-row">
                                    <div class="col-9">
                                        <div class="form-group">
                                            <label for="inputTitle">Title</label>
                                            <input name="entry-title" type="text" class="form-control" id="inputTitle"
                                                   placeholder="Title">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="inputDate">Date</label>
                                            <input name="entry-date" type="date" class="form-control" id="inputDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Post:</label>
                                    <textarea name="entry-post" class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </form>
                            <button id="form-submit" type="submit" class="btn btn-info">Add Entry</button>
                            <hr>
                            Or upload an image.
                            <br>
                            <input type="file"
                                   id="file" name='file'
                                   onchange="angular.element(this).scope().fileUpload(this.files)"/>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <img class="img-fluid" id="blah" src="http://placehold.it/180" alt="your image"/>
                                </div>
                                <div class="col-6">
                                    <span>{{status}}</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{value}}"
                                             aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
                                            <span class="sr-only">{{value}}% Complete</span>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div id="output"></div>
                                </div>
                            </div>
                            <hr>
                            Or write something!
                            <div id="editor"></div>
                        </div>
                    </div>
                </div>

                <!-- DataTables Entries -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#tableCollapse" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="tableCollapse">
                        <h6 class="m-0 font-weight-bold text-info">All Entries</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="tableCollapse">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Title</th>
                                        <th>Entry</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Date</th>
                                        <th>Title</th>
                                        <th>Entry</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Word Bubble -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseBubble" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseBubble">
                        <h6 class="m-0 font-weight-bold text-info">Word Bubble</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseBubble">
                        <div class="row mt-2">
                            <div class="col-6">
                                <div id="word-cloud" style="overflow: scroll" class="card-body"></div>
                            </div>
                            <div class="col-6">
                                <h1>{{wordmuse.word}}</h1>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div ng-if="wordmuse.words.length > 0">
                                            <h3>Synonyms</h3>
                                        </div>
                                        <div ng-repeat="word in wordmuse.words">
                                            <h5>{{word.word}}</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div ng-if="wordmuse.rhymes.length > 0">
                                            <h3>Rhymes</h3>
                                        </div>
                                        <div ng-repeat="word in wordmuse.rhymes">
                                            <h5>{{word.word}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Bar Chart -->
                <div class="card shadow mb-4">
                    <a href="#collpaseTop20" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collpaseTop20">
                        <h6 class="m-0 font-weight-bold text-info">Your Top 20 Words</h6>
                    </a>
                    <div class="collapse show" id="collpaseTop20">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div id="chart-bar-container" class="chart-bar">
                                <canvas id="myBarChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-info">Word Definitions</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <input name="word" type="text" class="form-control" id="inputWord"
                                               placeholder="Word">
                                    </div>
                                    <div class="col-lg-3 mb-3">
                                        <button ng-click="showWordDefinition()" class="btn btn-info btn-block">Define
                                        </button>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <ul ng-repeat="word in defs">
                                        <li>{{word}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <!--<video autoplay="true" id="videoElement">-->
                        <!--</video>-->
                        <!--<div id="capturedimage"></div>-->
                        <!--<button id="take-pic">take picture from video</button>-->

                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-info">About</h6>
                            </div>
                            <div class="card-body">
                                <p>Welcome to LostWords. An web app that works as your personal writing assistant.
                                    Log your works, and see your most used words, and other synonyms you could use
                                    instead.</p>
                                <p class="mb-0">Enjoy!</p>
                            </div>
                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <iframe style="border: 0; width: 100%; height: 42px;"
                                        src="https://bandcamp.com/EmbeddedPlayer/track=2172435603/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
                                        seamless><a href="http://marianapachon.bandcamp.com/track/arteria-mujeriega">arteria
                                    mujeriega by Mariana Pachon</a></iframe>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Lost Words 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-info" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>


<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="./vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="./js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="./vendor/chart.js/Chart.min.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-firestore.js"></script>

<!-- OCR Recog -->
<script src='https://unpkg.com/tesseract.js@v2.0.0-alpha.13/dist/tesseract.min.js'></script>

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>

<script src="./js/dashboard.js"></script>

</body>

</html>
